<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaobingdao.escape.myownexperience">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.EscapeAppStateMachineDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EscapeAppCorourtineDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EscapeAppNetworkDemoActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
